{% extends 'index.html' %}
{% block title %}title{% endblock %}
{% block video %}
<div class="container">
{% for video in all_video %}
	<div class="card" style="background-color: black">
		<div class="card-header">
			<a href='/hello/{{ video.slug }}/'>{{ video.title }}</a>
		</div>
		<div class="card-body">
			<iframe width="853" height="480" src={{ video.url }} ></iframe>
		</div>
		<div class="card-footer">
			<button data-toggle="collapse" data-target="#video{{ video.id }}">Collapsible</button>
			<div id="video{{ video.id }}" class="collapse">
				{{ video.description }}
			</div>
		</div>
	</div>

	<h3>{{ video.date }}</h3>
	<h4>LIKES:{{ video.likes }}</h4><hr>
	<h6>{{ video.long_post }}</h6>

	{% if video.likes == 0 %}
		<h1>likes is 0</h1>
	{% else %}
		<h1>likes isn't 0</h1>
	{% endif %}

	{{ video.likes|add:1 }}

	{% for comment in video.comment %}
		<h3>{{ comment.text }}</h3>
		<h4>{{ comment.date }}</h4>
		<h4>{{ comment.likes }}</h4>
		<h5>{{ comment.user }}</h5>
	{% endfor %}

<!--	<form action="{% url 'add_comment' slug=video.slug %}" method="post">-->
<!--		{% csrf_token %}-->
<!--		<div class="form-group">-->
<!--  			<label for="comment">Comment:</label>-->
<!--  			<textarea class="form-control" rows="5" name="text"></textarea>-->
<!--		</div>-->
<!--		<input type="submit" value="Fuck off">-->
<!--	</form>-->

	<form action="{% url 'form_comment' slug=video.slug %}" method="post">
		{% csrf_token %}
		{{ form.text.label }}
		{{ form.text }}
		<button type="submit">Done</button>
	</form>
{% endfor %}
</div>
<form action="{% url 'form_video_creater' %}" method="post">
		{% csrf_token %}
		{% for video in form_video_creater %}
			{{ video.label }}
			{{ video }}
		{% endfor %}
		<button type="submit">Done</button>
	</form>

<form>
	{{ NeEbstisVideo }}
	<button type="submit">Done</button>
</form>
{% endblock %}
