<!DOCTYPE html>
<html>
<head>
	<title>hello video</title>
</head>
<body>

{% for video in all_video %}
	<h1>{{ video.title }}</h1>
	<iframe width="853" height="480" src={{ video.url }} ></iframe>
	<h2>{{ video.description }}</h2>
	<h3>{{ video.date }}</h3>
	<h4>LIKES:{{ video.likes }}</h4><hr>
	<h6>{{ video.long_post }}</h6>

	{% if video.likes == 0 %}
		<h1>likes is 0</h1>
	{% else %}
		<h1>likes isn't 0</h1>
	{% endif %}

	{{ video.likes|add:1 }}

	{% for comment in video.comment %}
		<h3>{{ comment.text }}</h3>
		<h4>{{ comment.date }}</h4>
		<h4>{{ comment.likes }}</h4>
		<h5>{{ comment.user }}</h5>
	{% endfor %}
{% endfor %}

</body>
</html>